.container {
  width: 100%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-output {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly
}

.input, .output, .output-chart {
  width: 33%;
}

/* .output {
  width: 750px;
}

.output-chart {
  width: 750px;
} */
